<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Maven_Test" parallel="tests" thread-count="1">
	<test name="browsertest">
		<classes>
			<class name="com.damon.cases.BrowserTest">
			</class>

   		</classes>
	</test>
	<!-- 
	<listeners>
		<listener class-name="extentx.ExtentTestNGITestListener"></listener>
	</listeners>
	 -->
</suite>